body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.App {
    width: 100%;
    height: 100%;
}
.head {
    height: 50px;
}
.navbar {
    display: flex;
    padding: 0 20px;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    box-shadow: 0.5px 0.5px 0.5px 1px #d3d3d3;
    position: relative;
    height: 50px;
    align-items: center;
}
.shop {
    justify-content: center;
    display: flex;
    padding: 10px 5px 5px 5px ;
    outline: none;
    width: 15%;
    height: 30px;
    font-size: 20px;
    font-family: sans-serif;
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border: none;
    &:hover {
        color: rgb(241, 28, 28);
        transition: 700ms;
    }
}
.search_form {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 65%;
    height: 40px;
}
.input_search {
    outline: none;
    width: 70%;
    height: 100%;
    padding: 2px 2px 2px 5px;
    box-sizing: border-box;
    border: 2px solid rgb(250, 207, 17);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-size: 16px;
    background-color: white;
    margin: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.search_form a {
    width: 30%;
    max-width: 100px;
}
.search_button {
    outline: none;
    font-size: 16px;
    height: 40px;
    width: 100%;
    border: none;
    padding: 0;
    background-color: rgb(250, 207, 17);
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    cursor: pointer;
    
}
.addproduct{
    width: 15%;
    padding: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.addproduct a {
    width: 100%;
}
.addproduct_button {
    outline: none;
    font-size: 16px;
    height: 40px;
    width: 80%;
    border: none;
    padding: 0;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    cursor: pointer;
    &:hover {
        background-color: rgba(145, 243, 65, 0.876);
        transition: 1000ms;
    }
}
.view{
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-self: center;
}
.body_view{
     width: 1140px;
}
